<div class='search'>
  <heading>
    <h1>The Fracking Weather</h1>
  </heading>
  <div class='weather-form'>
    <%= render partial: 'search_form'%>
  </div>
  <section class='main-content'>
    <div class='previous-searches' id='previous-searches'>
      <%= render partial: 'previous_searches' %>
    </div>
    <div class='result' >
      <%= render partial: 'search_results'%>
    </div>
  </section>
</div>